<a href="https://colab.research.google.com/github/alekzanderx1/NYC-Citywide-Payroll-Data-Profiling-and-Cleaning/blob/main/DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Load Data

Here we will clean the data based on findings from the previous notebook where we did data profiling. 

We will start with loading the data through Socrata and converting it to a dataframe to make necessary modifications.

In [1]:
pip install openclean

Collecting openclean
  Downloading openclean-0.2.1-py3-none-any.whl (5.2 kB)
Collecting openclean-core==0.4.1
  Downloading openclean_core-0.4.1-py3-none-any.whl (267 kB)
     |████████████████████████████████| 267 kB 7.0 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (2.23.0)
Collecting refdata>=0.2.0
  Downloading refdata-0.2.0-py3-none-any.whl (37 kB)
Requirement already satisfied: dill in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (0.3.4)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (1.1.5)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (2.8.2)
Collecting jsonschema>=3.2.0
  Downloading jsonschema-4.2.1-py3-none-any.whl (69 kB)
     |████████████████████████████████| 69 kB 6.4 MB/s
Collecting histore>=0.4.0
  Downloading histore-0.4.1-py3-none-any.whl (109 kB)
     |████████████████████████████████| 109 kB 50.5 MB/s
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (1.0.1)
Collecting flowserv-core>=0.8.0
  Downloading flowserv_core-0.9.2-py3-none-any.whl (260 kB)
     |████████████████████████████████| 260 kB 53.2 MB/s
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (0.16.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (1.4.1)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (1.4.4)
Collecting jellyfish
  Downloading jellyfish-0.8.9.tar.gz (137 kB)
     |████████████████████████████████| 137 kB 45.2 MB/s
Collecting pyyaml>=5.1
  Downloading PyYAML-6.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (596 kB)
     |████████████████████████████████| 596 kB 37.0 MB/s
Collecting passlib
  Downloading passlib-1.7.4-py2.py3-none-any.whl (525 kB)
     |████████████████████████████████| 525 kB 44.9 MB/s
Collecting pyyaml-include
  Downloading pyyaml_include-1.2.post2-py3-none-any.whl (20 kB)
Requirement already satisfied: Click in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (7.1.2)
Collecting gitpython
  Downloading GitPython-3.1.24-py3-none-any.whl (180 kB)
     |████████████████████████████████| 180 kB 41.9 MB/s
Collecting paramiko
  Downloading paramiko-2.8.0-py2.py3-none-any.whl (206 kB)
     |████████████████████████████████| 206 kB 23.0 MB/s
Requirement already satisfied: SQLAlchemy>=1.3.18 in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (1.4.27)
Requirement already satisfied: psutil in /usr/local/lib/python3.7/dist-packages (from histore>=0.4.0->openclean-core==0.4.1->openclean) (5.4.8)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.4.1->openclean) (5.4.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.4.1->openclean) (4.8.2)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.4.1->openclean) (0.18.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.4.1->openclean) (21.2.0)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.4.0->jsonschema>=3.2.0->openclean-core==0.4.1->openclean) (3.6.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.0->openclean-core==0.4.1->openclean) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.0->openclean-core==0.4.1->openclean) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->openclean-core==0.4.1->openclean) (1.15.0)
Collecting tableprint
  Downloading tableprint-0.9.1-py3-none-any.whl (6.8 kB)
Requirement already satisfied: pooch>=1.3.0 in /usr/local/lib/python3.7/dist-packages (from refdata>=0.2.0->openclean-core==0.4.1->openclean) (1.5.2)
Collecting datasize>=1.0.0
  Downloading datasize-1.0.0.tar.gz (149 kB)
     |████████████████████████████████| 149 kB 70.7 MB/s
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from pooch>=1.3.0->refdata>=0.2.0->openclean-core==0.4.1->openclean) (21.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy>=1.3.18->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (1.1.2)
Collecting gitdb<5,>=4.0.1
  Downloading gitdb-4.0.9-py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.6 MB/s
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from gitpython->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (3.10.0.2)
Collecting smmap<6,>=3.0.1
  Downloading smmap-5.0.0-py3-none-any.whl (24 kB)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->pooch>=1.3.0->refdata>=0.2.0->openclean-core==0.4.1->openclean) (3.0.6)
Collecting pynacl>=1.0.1
  Downloading PyNaCl-1.4.0-cp35-abi3-manylinux1_x86_64.whl (961 kB)
     |████████████████████████████████| 961 kB 59.9 MB/s
Collecting bcrypt>=3.1.3
  Downloading bcrypt-3.2.0-cp36-abi3-manylinux2010_x86_64.whl (63 kB)
     |████████████████████████████████| 63 kB 1.5 MB/s
Collecting cryptography>=2.5
  Downloading cryptography-35.0.0-cp36-abi3-manylinux_2_24_x86_64.whl (3.5 MB)
     |████████████████████████████████| 3.5 MB 58.5 MB/s
Requirement already satisfied: cffi>=1.1 in /usr/local/lib/python3.7/dist-packages (from bcrypt>=3.1.3->paramiko->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.1->bcrypt>=3.1.3->paramiko->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (2.21)
Collecting pyyaml>=5.1
  Downloading PyYAML-5.4.1-cp37-cp37m-manylinux1_x86_64.whl (636 kB)
     |████████████████████████████████| 636 kB 31.6 MB/s
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.4.1->openclean) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.4.1->openclean) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.4.1->openclean) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.4.1->openclean) (2.10)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->openclean-core==0.4.1->openclean) (3.0.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->openclean-core==0.4.1->openclean) (1.1.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from tableprint->refdata>=0.2.0->openclean-core==0.4.1->openclean) (0.2.5)
Building wheels for collected packages: datasize, jellyfish
  Building wheel for datasize (setup.py) ... done
  Created wheel for datasize: filename=datasize-1.0.0-py2.py3-none-any.whl size=155047 sha256=eee93afca09f1900d01171900bda531222b7453b2cb1f2e0e4152ad956cfb044
  Stored in directory: /root/.cache/pip/wheels/f7/b5/32/d8836896da6aca7f9c5748670ea6110d1385c262bf3abcca30
  Building wheel for jellyfish (setup.py) ... done
  Created wheel for jellyfish: filename=jellyfish-0.8.9-cp37-cp37m-linux_x86_64.whl size=73230 sha256=3296299e9f54dd7cf51900a18c8a2efdc9cccd19f51f11e26b8c1a57c981b30a
  Stored in directory: /root/.cache/pip/wheels/32/a9/ef/5d8742e72deaf0d1de327a180d008c2c0299367581800ea73f
Successfully built datasize jellyfish
Installing collected packages: smmap, pyyaml, pynacl, gitdb, cryptography, bcrypt, tableprint, pyyaml-include, passlib, paramiko, jsonschema, gitpython, datasize, refdata, jellyfish, histore, flowserv-core, openclean-core, openclean
  Attempting uninstall: pyyaml
    Found existing installation: PyYAML 3.13
    Uninstalling PyYAML-3.13:
      Successfully uninstalled PyYAML-3.13
  Attempting uninstall: jsonschema
    Found existing installation: jsonschema 2.6.0
    Uninstalling jsonschema-2.6.0:
      Successfully uninstalled jsonschema-2.6.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
nbclient 0.5.8 requires jupyter-client>=6.1.5, but you have jupyter-client 5.3.5 which is incompatible.
Successfully installed bcrypt-3.2.0 cryptography-35.0.0 datasize-1.0.0 flowserv-core-0.9.2 gitdb-4.0.9 gitpython-3.1.24 histore-0.4.1 jellyfish-0.8.9 jsonschema-4.2.1 openclean-0.2.1 openclean-core-0.4.1 paramiko-2.8.0 passlib-1.7.4 pynacl-1.4.0 pyyaml-5.4.1 pyyaml-include-1.2.post2 refdata-0.2.0 smmap-5.0.0 tableprint-0.9.1

In [2]:
from datetime import datetime
from openclean.function.eval.base import Col
from openclean.function.eval.datatype import Datetime
from openclean.function.eval.logic import And
from openclean.function.eval.null import IsNotEmpty
from openclean.function.eval.domain import Lookup
from openclean.data.source.socrata import Socrata
import gzip
import os

dataset = Socrata().dataset('k397-673e')

In [3]:
datafile = './k397-673e.tsv.gz'

In [4]:
if not os.path.isfile(datafile):
    with gzip.open(datafile, 'wb') as f:
        print('Downloading ...\n')
        dataset.write(f)

Downloading ...

In [5]:
from openclean.pipeline import stream

ds_full = stream(datafile)

In [6]:
ds_full.count()

4496767

## Removing unwanted columns

We are removing 'Payroll Number', 'First Name', 'Last Name', and 'Mid Init' because we will not be using them in our analysis going forwards.

In [7]:
columns=[
    'Fiscal Year',
    'Agency Name',
    'Agency Start Date',
    'Work Location Borough',
    'Title Description',
    'Leave Status as of June 30',
    'Base Salary',
    'Pay Basis',
    'Regular Hours',
    'Regular Gross Paid',
    'OT Hours',
    'Total OT Paid',
    'Total Other Pay'
]
ds_full = ds_full.select(columns)

In [8]:
# convert to datafrane

df = ds_full.to_df()

In [9]:
df.shape

(4496767, 13)

## Clean Borough

We will be -
1. Updating to uppercase
2. Replacing empty string '' to UNSPECIFIED
3. Filter on all borough names
4. Rename 'RICHMOND' to 'STATEN ISLAND'

In [10]:
from openclean.operator.transform.filter import delete

In [11]:
df.shape

(4496767, 13)

In [12]:
# Update to uppercase

from openclean.operator.transform.update import update

df = update(df, columns='Work Location Borough', func=str.upper)

In [13]:
df['Work Location Borough'].unique()

array(['BROOKLYN', 'MANHATTAN', 'BRONX', 'RICHMOND', 'QUEENS',
       'WASHINGTON DC', 'ULSTER', 'WESTCHESTER', 'OTHER', 'ALBANY',
       'NASSAU', 'DELAWARE', 'SULLIVAN', '', 'ORANGE', 'SCHOHARIE',
       'DUTCHESS', 'GREENE', 'PUTNAM'], dtype=object)

In [14]:
# Replace empty string '' with 'UNSPECIFIED'

df=update(df, columns='Work Location Borough',func=lambda x: x if x != '' else 'UNSPECIFIED')

In [15]:
df['Work Location Borough'].unique()

array(['BROOKLYN', 'MANHATTAN', 'BRONX', 'RICHMOND', 'QUEENS',
       'WASHINGTON DC', 'ULSTER', 'WESTCHESTER', 'OTHER', 'ALBANY',
       'NASSAU', 'DELAWARE', 'SULLIVAN', 'UNSPECIFIED', 'ORANGE',
       'SCHOHARIE', 'DUTCHESS', 'GREENE', 'PUTNAM'], dtype=object)

In [16]:
# Keep just the 5 boroughs and 'UNSPECIFIED'

df = df[(df['Work Location Borough'] == 'BROOKLYN') | \
        (df['Work Location Borough'] == 'MANHATTAN') | \
        (df['Work Location Borough'] == 'BRONX') | \
        (df['Work Location Borough'] == 'RICHMOND') | \
        (df['Work Location Borough'] == 'QUEENS') | \
        (df['Work Location Borough'] == 'UNSPECIFIED')]

In [17]:
df['Work Location Borough'].unique()

array(['BROOKLYN', 'MANHATTAN', 'BRONX', 'RICHMOND', 'QUEENS',
       'UNSPECIFIED'], dtype=object)

In [18]:
df.shape

(4392154, 13)

In this column, there are 52,803 instances of 'RICHMOND'. For the purposes of clarity, we decided to manually rename these to 'STATEN ISLAND'

In [19]:
df[df['Work Location Borough'] == 'RICHMOND'].count

<bound method DataFrame.count of         Fiscal Year  ... Total Other Pay
741            2020  ...         1000.00
759            2020  ...          375.00
829            2020  ...            0.00
966            2020  ...          375.00
1038           2020  ...            0.00
...             ...  ...             ...
4495992        2021  ...           -4.59
4496206        2021  ...         -377.24
4496437        2021  ...        -4369.96
4496607        2021  ...         4191.08
4496616        2021  ...        -9100.90

[53766 rows x 13 columns]>

In [20]:
df['Work Location Borough'].unique()

array(['BROOKLYN', 'MANHATTAN', 'BRONX', 'RICHMOND', 'QUEENS',
       'UNSPECIFIED'], dtype=object)

In [21]:
# Rename 'RICHMOND' to 'STATEN ISLAND'

df = update(df, columns='Work Location Borough', func= lambda x : 'STATEN ISLAND' if x == 'RICHMOND' else x)

In [22]:
df['Work Location Borough'].unique()

array(['BROOKLYN', 'MANHATTAN', 'BRONX', 'STATEN ISLAND', 'QUEENS',
       'UNSPECIFIED'], dtype=object)

## Converting Columns to Appropriate Datatypes

In [23]:
df = df.astype({"Fiscal Year" : int, "Base Salary": float, "Regular Hours": float, "Regular Gross Paid": float, "OT Hours": float, "Total OT Paid": float, "Total Other Pay": float})

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4392154 entries, 0 to 4496766
Data columns (total 13 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Fiscal Year                 int64
 1   Agency Name                 object
 2   Agency Start Date           object
 3   Work Location Borough       object
 4   Title Description           object
 5   Leave Status as of June 30  object
 6   Base Salary                 float64
 7   Pay Basis                   object
 8   Regular Hours               float64
 9   Regular Gross Paid          float64
 10  OT Hours                    float64
 11  Total OT Paid               float64
 12  Total Other Pay             float64
dtypes: float64(6), int64(1), object(6)
memory usage: 469.1+ MB

## Cleanup Negative Values from Numerical Columns

First we will check the count of rows which have negative values and remove them at the end.

In [25]:
df[df['Regular Gross Paid'] < 0]

         Fiscal Year  ... Total Other Pay
2902            2020  ...            8.10
2903            2020  ...            0.00
2907            2020  ...            9.51
2916            2020  ...            0.00
2921            2020  ...            0.00
...              ...  ...             ...
4496758         2021  ...         5814.70
4496759         2021  ...       -15369.52
4496760         2021  ...         4347.24
4496763         2021  ...       -75440.00
4496766         2021  ...            0.00

[6498 rows x 13 columns]

In [26]:
df[df['Total OT Paid'] < 0]

         Fiscal Year                Agency Name  ... Total OT Paid Total Other Pay
39015           2020          POLICE DEPARTMENT  ...      -1001.20         5882.60
49840           2020          POLICE DEPARTMENT  ...        -24.93         6650.42
53568           2020          POLICE DEPARTMENT  ...        -57.79         2238.91
55147           2020          POLICE DEPARTMENT  ...        -25.01         4695.83
55990           2020          POLICE DEPARTMENT  ...        -42.67          758.92
...              ...                        ...  ...           ...             ...
4496544         2021  ADMIN FOR CHILDREN'S SVCS  ...       -200.37          -52.60
4496573         2021   DEPARTMENT OF SANITATION  ...        -39.09        -7504.64
4496634         2021  ADMIN FOR CHILDREN'S SVCS  ...       -755.83          -21.87
4496732         2021   DEPARTMENT OF SANITATION  ...       -730.47       -24140.37
4496739         2021            FIRE DEPARTMENT  ...      -5022.29       -23835.73

[1693 rows x 13 columns]

In [27]:
df[df['Total Other Pay'] < 0]

         Fiscal Year  ... Total Other Pay
5               2020  ...        -3202.74
646             2020  ...          -61.62
1259            2020  ...        -3919.32
1395            2020  ...        -1805.36
1539            2020  ...          -72.39
...              ...  ...             ...
4496754         2021  ...       -47536.59
4496755         2021  ...          -13.35
4496757         2021  ...          -16.93
4496759         2021  ...       -15369.52
4496763         2021  ...       -75440.00

[45220 rows x 13 columns]

In [28]:
df[df['Regular Hours'] < 0]

         Fiscal Year  ... Total Other Pay
2921            2020  ...            0.00
57539           2020  ...          252.79
61546           2020  ...          133.64
61719           2020  ...         1804.54
61733           2020  ...          -45.45
...              ...  ...             ...
4496703         2021  ...          754.63
4496715         2021  ...       -18831.37
4496729         2021  ...       -26556.12
4496739         2021  ...       -23835.73
4496763         2021  ...       -75440.00

[1934 rows x 13 columns]

In [29]:
df[df['OT Hours'] < 0]

         Fiscal Year                Agency Name  ... Total OT Paid Total Other Pay
39015           2020          POLICE DEPARTMENT  ...      -1001.20         5882.60
49840           2020          POLICE DEPARTMENT  ...        -24.93         6650.42
53568           2020          POLICE DEPARTMENT  ...        -57.79         2238.91
55147           2020          POLICE DEPARTMENT  ...        -25.01         4695.83
55990           2020          POLICE DEPARTMENT  ...        -42.67          758.92
...              ...                        ...  ...           ...             ...
4496522         2021   DEPARTMENT OF CORRECTION  ...       -543.13         -688.37
4496544         2021  ADMIN FOR CHILDREN'S SVCS  ...       -200.37          -52.60
4496573         2021   DEPARTMENT OF SANITATION  ...        -39.09        -7504.64
4496634         2021  ADMIN FOR CHILDREN'S SVCS  ...       -755.83          -21.87
4496739         2021            FIRE DEPARTMENT  ...      -5022.29       -23835.73

[301 rows x 13 columns]

In [30]:
# removing rows with negative value in all numerical columns as they can cause issues with calculation
df = df[(df['OT Hours'] >= 0) & \
        (df['Regular Gross Paid'] >= 0) & \
        (df['Total OT Paid'] >= 0) & \
        (df['Total Other Pay'] >= 0) & \
        (df['Regular Hours'] >= 0) ]

In [31]:
df.shape

(4339278, 13)

## Clean Agancy Start Date

In [32]:
df['Agency Start Date'].count()

4339278

In [33]:
df [df['Agency Start Date'] == '12/31/9999']

         Fiscal Year  ... Total Other Pay
160553          2020  ...        36229.15
167797          2020  ...        13012.34
168030          2020  ...        12876.50
168250          2020  ...        12759.82
168674          2020  ...        12536.04
...              ...  ...             ...
4229761         2021  ...         1891.84
4244083         2021  ...         8900.39
4271799         2021  ...         4764.70
4272592         2021  ...         4516.30
4295461         2021  ...          963.12

[413 rows x 13 columns]

There are 415 rows with the extreme date of '12/31/9999' that we will remove first. The reason for this is that if we try to convert these values to datetime, the api returns an out of bounds error.

In [34]:
# Filter out 415 rows where date is '12/31/9999'

df = df[df['Agency Start Date'] != '12/31/9999']

In [35]:
df['Agency Start Date'].count()

4338865

In [36]:
df[df['Agency Start Date'] == ''].count()

Fiscal Year                   63
Agency Name                   63
Agency Start Date             63
Work Location Borough         63
Title Description             63
Leave Status as of June 30    63
Base Salary                   63
Pay Basis                     63
Regular Hours                 63
Regular Gross Paid            63
OT Hours                      63
Total OT Paid                 63
Total Other Pay               63
dtype: int64

Note: there are 63 blank values for Agency Start Date. Converting to datetime format will take care of deleting them.

In [37]:
# convert column to datetime in format yyyy-mm-dd

import pandas as pd

df['Agency Start Date']= pd.to_datetime(df['Agency Start Date'])

In [38]:
df['Agency Start Date'].count()

4338802

Now lets find any future date by comparing all the Agency Start Dates to the report date (i.e. the date as of the report - 06/30/2021)

In [39]:
import datetime

report_date = datetime.datetime(2021, 6, 30)

In [40]:
df[df['Agency Start Date'] > report_date].count()

Fiscal Year                   3
Agency Name                   3
Agency Start Date             3
Work Location Borough         3
Title Description             3
Leave Status as of June 30    3
Base Salary                   3
Pay Basis                     3
Regular Hours                 3
Regular Gross Paid            3
OT Hours                      3
Total OT Paid                 3
Total Other Pay               3
dtype: int64

There are 3 rows with future dates. We will remove them.

In [41]:
df = df[df['Agency Start Date'] <= report_date]

In [42]:
df['Agency Start Date'].count()

4338799

Now let us examine very old dates. Retirement age in NYC is 62 years. If we assume minimum working age as 18, then a person can be working for at most 44 years. Since our dataset includes fiscal data only started form 2014, then lets see how many records have data before 2014- - 44 = 1970

In [43]:
min_date = datetime.datetime(1970, 6, 30)

In [44]:
df[df['Agency Start Date'] < min_date].count()

Fiscal Year                   8721
Agency Name                   8721
Agency Start Date             8721
Work Location Borough         8721
Title Description             8721
Leave Status as of June 30    8721
Base Salary                   8721
Pay Basis                     8721
Regular Hours                 8721
Regular Gross Paid            8721
OT Hours                      8721
Total OT Paid                 8721
Total Other Pay               8721
dtype: int64

In [45]:
df[df['Agency Start Date'] < min_date]

         Fiscal Year  ... Total Other Pay
289             2020  ...         4820.35
2687            2020  ...         1642.20
4806            2020  ...            0.00
7565            2020  ...        16772.36
35811           2020  ...         6390.75
...              ...  ...             ...
4492286         2021  ...            0.32
4492299         2021  ...            0.32
4492469         2021  ...            0.26
4492685         2021  ...            0.15
4492774         2021  ...            0.09

[8721 rows x 13 columns]

This gives us 8741 rows. We will assume a buffer of 5 years and remove any rows older than 1970 - 5 = 1965

In [46]:
min_date = datetime.datetime(1965, 6, 30)

In [47]:
df[df['Agency Start Date'] < min_date].count()

Fiscal Year                   1711
Agency Name                   1711
Agency Start Date             1711
Work Location Borough         1711
Title Description             1711
Leave Status as of June 30    1711
Base Salary                   1711
Pay Basis                     1711
Regular Hours                 1711
Regular Gross Paid            1711
OT Hours                      1711
Total OT Paid                 1711
Total Other Pay               1711
dtype: int64

In [48]:
df[df['Agency Start Date'] < min_date]

         Fiscal Year  ... Total Other Pay
4806            2020  ...            0.00
94931           2020  ...         4219.81
95663           2020  ...         8570.99
96713           2020  ...         5445.70
96942           2020  ...        71334.60
...              ...  ...             ...
4484897         2021  ...            0.00
4485563         2021  ...            4.80
4488301         2021  ...            2.57
4488706         2021  ...            2.20
4489046         2021  ...            1.97

[1711 rows x 13 columns]

In [49]:
df['Agency Start Date'].count()

4338799

## Fix Title Descriptions

Based on result of similarity analysis from the DataProfiling notebook, we have identified that this can be fixed by following steps -
  1. Trim the characters '?', '*', '-', and whitespaces from the names, this will fix issue with all but 6 clusters.
  2. For the remaining 6 clusters, we will fix it manually using the fixTitles() method below.

In [50]:
df = update(df, columns='Title Description', func=lambda title:title.strip("?*- ").upper())

In [51]:
df.shape

(4338799, 13)

In [52]:
titles = df['Title Description'].unique()
len(titles)

1769

In [53]:
def fixTitles(title):
  if title == 'SERGEANTD/A SPECIAL ASSIGNMENT' or title == 'SERGEANT-D/A SPECIAL ASSIGNMENT':
    return 'SERGEANT D/A SPECIAL ASSIGNMENT'
  elif title == 'ASSISTANT DEPUTY COMMISSIONER':
        return 'DEPUTY ASSISTANT COMMISSIONER'
  elif title == 'CASE - MANAGEMENT NURSE':
        return 'CASE MANAGEMENT NURSE'
  elif title == 'SERGEANTD/A SUPERVISOR DETECTIVE SQUAD':
        return 'SERGEANT-D/A SUPERVISOR DETECTIVE SQUAD'
  elif title == 'ELECTRICIANS HELPER':
        return 'ELECTRICIAN\'S HELPER'
  elif title == 'GENERAL INSPECTOR':
        return 'INSPECTOR GENERAL'
  else:
    return title

In [54]:
df = update(df, columns='Title Description', func=fixTitles)

In [55]:
df.shape

(4338799, 13)

In [56]:
titles = df['Title Description'].unique()
len(titles)

1762

## Save Final Output

In [57]:
# check final count

df.count

<bound method DataFrame.count of         Fiscal Year  ... Total Other Pay
0              2020  ...               0
1              2020  ...               0
2              2020  ...               0
3              2020  ...               0
4              2020  ...               0
...             ...  ...             ...
4493888        2021  ...               0
4493890        2021  ...               0
4493927        2021  ...               0
4493982        2021  ...               0
4493984        2021  ...               0

[4338799 rows x 13 columns]>

We have finally removed approx 157,000 rows which represents approx 3% of the original data.

In [58]:
df.to_csv('DataCleaningOutput.csv', index=False)