<a href="https://colab.research.google.com/github/alekzanderx1/NYC-Citywide-Payroll-Data-Profiling-and-Cleaning/blob/main/DataCleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Load Data

In [80]:
pip install openclean

Requirement already satisfied: openclean in /usr/local/lib/python3.7/dist-packages (0.2.1)
Requirement already satisfied: openclean-core==0.4.1 in /usr/local/lib/python3.7/dist-packages (from openclean) (0.4.1)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (1.4.4)
Requirement already satisfied: histore>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (0.4.1)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (1.1.5)
Requirement already satisfied: jsonschema>=3.2.0 in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (4.2.1)
Requirement already satisfied: flowserv-core>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (0.9.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (2.8.2)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (1.0.1)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (2.23.0)
Requirement already satisfied: refdata>=0.2.0 in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (0.2.0)
Requirement already satisfied: dill in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (0.3.4)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (1.4.1)
Requirement already satisfied: jellyfish in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (0.8.9)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from openclean-core==0.4.1->openclean) (0.16.0)
Requirement already satisfied: Click in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (7.1.2)
Requirement already satisfied: pyyaml-include in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (1.2.post2)
Requirement already satisfied: SQLAlchemy>=1.3.18 in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (1.4.27)
Requirement already satisfied: gitpython in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (3.1.24)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (5.4.1)
Requirement already satisfied: passlib in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (1.7.4)
Requirement already satisfied: paramiko in /usr/local/lib/python3.7/dist-packages (from flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (2.8.0)
Requirement already satisfied: psutil in /usr/local/lib/python3.7/dist-packages (from histore>=0.4.0->openclean-core==0.4.1->openclean) (5.4.8)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.4.1->openclean) (5.4.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.4.1->openclean) (21.2.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.4.1->openclean) (4.8.2)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.7/dist-packages (from jsonschema>=3.2.0->openclean-core==0.4.1->openclean) (0.18.0)
Requirement already satisfied: zipp>=3.1.0 in /usr/local/lib/python3.7/dist-packages (from importlib-resources>=1.4.0->jsonschema>=3.2.0->openclean-core==0.4.1->openclean) (3.6.0)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.0->openclean-core==0.4.1->openclean) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.0->openclean-core==0.4.1->openclean) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->openclean-core==0.4.1->openclean) (1.15.0)
Requirement already satisfied: tableprint in /usr/local/lib/python3.7/dist-packages (from refdata>=0.2.0->openclean-core==0.4.1->openclean) (0.9.1)
Requirement already satisfied: datasize>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from refdata>=0.2.0->openclean-core==0.4.1->openclean) (1.0.0)
Requirement already satisfied: pooch>=1.3.0 in /usr/local/lib/python3.7/dist-packages (from refdata>=0.2.0->openclean-core==0.4.1->openclean) (1.5.2)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from pooch>=1.3.0->refdata>=0.2.0->openclean-core==0.4.1->openclean) (21.3)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy>=1.3.18->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (1.1.2)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.7/dist-packages (from gitpython->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (4.0.9)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from gitpython->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (3.10.0.2)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.7/dist-packages (from gitdb<5,>=4.0.1->gitpython->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (5.0.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->pooch>=1.3.0->refdata>=0.2.0->openclean-core==0.4.1->openclean) (3.0.6)
Requirement already satisfied: cryptography>=2.5 in /usr/local/lib/python3.7/dist-packages (from paramiko->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (35.0.0)
Requirement already satisfied: bcrypt>=3.1.3 in /usr/local/lib/python3.7/dist-packages (from paramiko->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (3.2.0)
Requirement already satisfied: pynacl>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from paramiko->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (1.4.0)
Requirement already satisfied: cffi>=1.1 in /usr/local/lib/python3.7/dist-packages (from bcrypt>=3.1.3->paramiko->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (1.15.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.7/dist-packages (from cffi>=1.1->bcrypt>=3.1.3->paramiko->flowserv-core>=0.8.0->openclean-core==0.4.1->openclean) (2.21)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.4.1->openclean) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.4.1->openclean) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.4.1->openclean) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->openclean-core==0.4.1->openclean) (3.0.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->openclean-core==0.4.1->openclean) (3.0.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->openclean-core==0.4.1->openclean) (1.1.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from tableprint->refdata>=0.2.0->openclean-core==0.4.1->openclean) (0.2.5)

In [81]:
from openclean.data.source.socrata import Socrata
import gzip
import os

dataset = Socrata().dataset('k397-673e')

In [82]:
datafile = './k397-673e.tsv.gz'

In [83]:
if not os.path.isfile(datafile):
    with gzip.open(datafile, 'wb') as f:
        print('Downloading ...\n')
        dataset.write(f)

In [84]:
from openclean.pipeline import stream

ds_full = stream(datafile)

In [85]:
ds_full.count()

4496767

## Removing unwanted columns

We are removing 'Payroll Number', 'First Name', 'Last Name', and 'Mid Init' because we will not be using them in our analysis going forwards.

In [86]:
columns=[
    'Fiscal Year',
    'Agency Name',
    'Agency Start Date',
    'Work Location Borough',
    'Title Description',
    'Leave Status as of June 30',
    'Base Salary',
    'Pay Basis',
    'Regular Hours',
    'Regular Gross Paid',
    'OT Hours',
    'Total OT Paid',
    'Total Other Pay'
]
ds_full = ds_full.select(columns)

In [87]:
from datetime import datetime
from openclean.function.eval.base import Col
from openclean.function.eval.datatype import Datetime
from openclean.function.eval.logic import And
from openclean.function.eval.null import IsNotEmpty
from openclean.function.eval.domain import Lookup

In [88]:
# convert to datafrane

df = ds_full.to_df()

In [89]:
df.shape

(4496767, 13)

## Clean Borough

We will be -
1. Updating to uppercase
2. Replacing empty string '' to UNSPECIFIED
3. Filter on all borough names
4. Rename 'RICHMOND' to 'STATEN ISLAND'

In [90]:
from openclean.operator.transform.filter import delete

In [91]:
df.shape

(4496767, 13)

In [92]:
# Update to uppercase

from openclean.operator.transform.update import update

df = update(df, columns='Work Location Borough', func=str.upper)

In [93]:
df['Work Location Borough'].unique()

array(['BROOKLYN', 'MANHATTAN', 'BRONX', 'RICHMOND', 'QUEENS',
       'WASHINGTON DC', 'ULSTER', 'WESTCHESTER', 'OTHER', 'ALBANY',
       'NASSAU', 'DELAWARE', 'SULLIVAN', '', 'ORANGE', 'SCHOHARIE',
       'DUTCHESS', 'GREENE', 'PUTNAM'], dtype=object)

In [94]:
# Replace empty string '' with 'UNSPECIFIED'

df=update(df, columns='Work Location Borough',func=lambda x: x if x != '' else 'UNSPECIFIED')

In [95]:
df['Work Location Borough'].unique()

array(['BROOKLYN', 'MANHATTAN', 'BRONX', 'RICHMOND', 'QUEENS',
       'WASHINGTON DC', 'ULSTER', 'WESTCHESTER', 'OTHER', 'ALBANY',
       'NASSAU', 'DELAWARE', 'SULLIVAN', 'UNSPECIFIED', 'ORANGE',
       'SCHOHARIE', 'DUTCHESS', 'GREENE', 'PUTNAM'], dtype=object)

In [96]:
# Keep just the 5 boroughs and 'UNSPECIFIED'

df = df[(df['Work Location Borough'] == 'BROOKLYN') | \
        (df['Work Location Borough'] == 'MANHATTAN') | \
        (df['Work Location Borough'] == 'BRONX') | \
        (df['Work Location Borough'] == 'RICHMOND') | \
        (df['Work Location Borough'] == 'QUEENS') | \
        (df['Work Location Borough'] == 'UNSPECIFIED')]

In [97]:
df['Work Location Borough'].unique()

array(['BROOKLYN', 'MANHATTAN', 'BRONX', 'RICHMOND', 'QUEENS',
       'UNSPECIFIED'], dtype=object)

In [98]:
df.shape

(4392154, 13)

In this column, there are 52,803 instances of 'RICHMOND'. For the purposes of clarity, we decided to manually rename these to 'STATEN ISLAND'

In [99]:
df[df['Work Location Borough'] == 'RICHMOND'].count

<bound method DataFrame.count of         Fiscal Year  ... Total Other Pay
741            2020  ...         1000.00
759            2020  ...          375.00
829            2020  ...            0.00
966            2020  ...          375.00
1038           2020  ...            0.00
...             ...  ...             ...
4495992        2021  ...           -4.59
4496206        2021  ...         -377.24
4496437        2021  ...        -4369.96
4496607        2021  ...         4191.08
4496616        2021  ...        -9100.90

[53766 rows x 13 columns]>

In [100]:
df['Work Location Borough'].unique()

array(['BROOKLYN', 'MANHATTAN', 'BRONX', 'RICHMOND', 'QUEENS',
       'UNSPECIFIED'], dtype=object)

In [101]:
# Rename 'RICHMOND' to 'STATEN ISLAND'

df = update(df, columns='Work Location Borough', func= lambda x : 'STATEN ISLAND' if x == 'RICHMOND' else x)

In [102]:
df['Work Location Borough'].unique()

array(['BROOKLYN', 'MANHATTAN', 'BRONX', 'STATEN ISLAND', 'QUEENS',
       'UNSPECIFIED'], dtype=object)

## Converting Columns to Appropriate Datatypes

In [103]:
df = df.astype({"Fiscal Year" : int, "Base Salary": float, "Regular Hours": float, "Regular Gross Paid": float, "OT Hours": float, "Total OT Paid": float, "Total Other Pay": float})

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4392154 entries, 0 to 4496766
Data columns (total 13 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Fiscal Year                 int64
 1   Agency Name                 object
 2   Agency Start Date           object
 3   Work Location Borough       object
 4   Title Description           object
 5   Leave Status as of June 30  object
 6   Base Salary                 float64
 7   Pay Basis                   object
 8   Regular Hours               float64
 9   Regular Gross Paid          float64
 10  OT Hours                    float64
 11  Total OT Paid               float64
 12  Total Other Pay             float64
dtypes: float64(6), int64(1), object(6)
memory usage: 469.1+ MB

## Cleanup Negative Values from Numerical Columns

In [105]:
df[df['Regular Gross Paid'] < 0]

         Fiscal Year  ... Total Other Pay
2902            2020  ...            8.10
2903            2020  ...            0.00
2907            2020  ...            9.51
2916            2020  ...            0.00
2921            2020  ...            0.00
...              ...  ...             ...
4496758         2021  ...         5814.70
4496759         2021  ...       -15369.52
4496760         2021  ...         4347.24
4496763         2021  ...       -75440.00
4496766         2021  ...            0.00

[6498 rows x 13 columns]

In [106]:
df[df['Total OT Paid'] < 0]

         Fiscal Year                Agency Name  ... Total OT Paid Total Other Pay
39015           2020          POLICE DEPARTMENT  ...      -1001.20         5882.60
49840           2020          POLICE DEPARTMENT  ...        -24.93         6650.42
53568           2020          POLICE DEPARTMENT  ...        -57.79         2238.91
55147           2020          POLICE DEPARTMENT  ...        -25.01         4695.83
55990           2020          POLICE DEPARTMENT  ...        -42.67          758.92
...              ...                        ...  ...           ...             ...
4496544         2021  ADMIN FOR CHILDREN'S SVCS  ...       -200.37          -52.60
4496573         2021   DEPARTMENT OF SANITATION  ...        -39.09        -7504.64
4496634         2021  ADMIN FOR CHILDREN'S SVCS  ...       -755.83          -21.87
4496732         2021   DEPARTMENT OF SANITATION  ...       -730.47       -24140.37
4496739         2021            FIRE DEPARTMENT  ...      -5022.29       -23835.73

[1693 rows x 13 columns]

In [107]:
df[df['Total Other Pay'] < 0]

         Fiscal Year  ... Total Other Pay
5               2020  ...        -3202.74
646             2020  ...          -61.62
1259            2020  ...        -3919.32
1395            2020  ...        -1805.36
1539            2020  ...          -72.39
...              ...  ...             ...
4496754         2021  ...       -47536.59
4496755         2021  ...          -13.35
4496757         2021  ...          -16.93
4496759         2021  ...       -15369.52
4496763         2021  ...       -75440.00

[45220 rows x 13 columns]

In [108]:
df[df['Regular Hours'] < 0]

         Fiscal Year  ... Total Other Pay
2921            2020  ...            0.00
57539           2020  ...          252.79
61546           2020  ...          133.64
61719           2020  ...         1804.54
61733           2020  ...          -45.45
...              ...  ...             ...
4496703         2021  ...          754.63
4496715         2021  ...       -18831.37
4496729         2021  ...       -26556.12
4496739         2021  ...       -23835.73
4496763         2021  ...       -75440.00

[1934 rows x 13 columns]

In [109]:
df[df['OT Hours'] < 0]

         Fiscal Year                Agency Name  ... Total OT Paid Total Other Pay
39015           2020          POLICE DEPARTMENT  ...      -1001.20         5882.60
49840           2020          POLICE DEPARTMENT  ...        -24.93         6650.42
53568           2020          POLICE DEPARTMENT  ...        -57.79         2238.91
55147           2020          POLICE DEPARTMENT  ...        -25.01         4695.83
55990           2020          POLICE DEPARTMENT  ...        -42.67          758.92
...              ...                        ...  ...           ...             ...
4496522         2021   DEPARTMENT OF CORRECTION  ...       -543.13         -688.37
4496544         2021  ADMIN FOR CHILDREN'S SVCS  ...       -200.37          -52.60
4496573         2021   DEPARTMENT OF SANITATION  ...        -39.09        -7504.64
4496634         2021  ADMIN FOR CHILDREN'S SVCS  ...       -755.83          -21.87
4496739         2021            FIRE DEPARTMENT  ...      -5022.29       -23835.73

[301 rows x 13 columns]

In [110]:
# removing rows with negative value in all numerical columns as they can cause issues with calculation
df = df[(df['OT Hours'] >= 0) & \
        (df['Regular Gross Paid'] >= 0) & \
        (df['Total OT Paid'] >= 0) & \
        (df['Total Other Pay'] >= 0) & \
        (df['Regular Hours'] >= 0) ]

In [111]:
df.shape

(4339278, 13)

## Clean Agancy Start Date

In [112]:
df['Agency Start Date'].count()

4339278

In [113]:
df [df['Agency Start Date'] == '12/31/9999']

         Fiscal Year  ... Total Other Pay
160553          2020  ...        36229.15
167797          2020  ...        13012.34
168030          2020  ...        12876.50
168250          2020  ...        12759.82
168674          2020  ...        12536.04
...              ...  ...             ...
4229761         2021  ...         1891.84
4244083         2021  ...         8900.39
4271799         2021  ...         4764.70
4272592         2021  ...         4516.30
4295461         2021  ...          963.12

[413 rows x 13 columns]

There are 415 rows with the extreme date of '12/31/9999' that we will remove first. The reason for this is that if we try to convert these values to datetime, the api returns an out of bounds error.

In [114]:
# Filter out 415 rows where date is '12/31/9999'

df = df[df['Agency Start Date'] != '12/31/9999']

In [115]:
df['Agency Start Date'].count()

4338865

In [116]:
df[df['Agency Start Date'] == ''].count()

Fiscal Year                   63
Agency Name                   63
Agency Start Date             63
Work Location Borough         63
Title Description             63
Leave Status as of June 30    63
Base Salary                   63
Pay Basis                     63
Regular Hours                 63
Regular Gross Paid            63
OT Hours                      63
Total OT Paid                 63
Total Other Pay               63
dtype: int64

Note: there are 63 blank values for Agency Start Date. Converting to datetime format will take care of deleting them.

In [117]:
# convert column to datetime in format yyyy-mm-dd

import pandas as pd

df['Agency Start Date']= pd.to_datetime(df['Agency Start Date'])

In [118]:
df['Agency Start Date'].count()

4338802

Now lets find any future date by comparing all the Agency Start Dates to the report date (i.e. the date as of the report - 06/30/2021)

In [119]:
import datetime

report_date = datetime.datetime(2021, 6, 30)

In [120]:
df[df['Agency Start Date'] > report_date].count()

Fiscal Year                   3
Agency Name                   3
Agency Start Date             3
Work Location Borough         3
Title Description             3
Leave Status as of June 30    3
Base Salary                   3
Pay Basis                     3
Regular Hours                 3
Regular Gross Paid            3
OT Hours                      3
Total OT Paid                 3
Total Other Pay               3
dtype: int64

There are 3 rows with future dates. We will remove them.

In [121]:
df = df[df['Agency Start Date'] <= report_date]

In [122]:
df['Agency Start Date'].count()

4338799

Now let us examine very old dates. Retirement age in NYC is 62 years. If we assume minimum working age as 18, then a person can be working for at most 44 years. Since our dataset includes fiscal data only started form 2014, then lets see how many records have data before 2014- - 44 = 1970

In [123]:
min_date = datetime.datetime(1970, 6, 30)

In [124]:
df[df['Agency Start Date'] < min_date].count()

Fiscal Year                   8721
Agency Name                   8721
Agency Start Date             8721
Work Location Borough         8721
Title Description             8721
Leave Status as of June 30    8721
Base Salary                   8721
Pay Basis                     8721
Regular Hours                 8721
Regular Gross Paid            8721
OT Hours                      8721
Total OT Paid                 8721
Total Other Pay               8721
dtype: int64

In [125]:
df[df['Agency Start Date'] < min_date]

         Fiscal Year  ... Total Other Pay
289             2020  ...         4820.35
2687            2020  ...         1642.20
4806            2020  ...            0.00
7565            2020  ...        16772.36
35811           2020  ...         6390.75
...              ...  ...             ...
4492286         2021  ...            0.32
4492299         2021  ...            0.32
4492469         2021  ...            0.26
4492685         2021  ...            0.15
4492774         2021  ...            0.09

[8721 rows x 13 columns]

This gives us 8741 rows. We will assume a buffer of 5 years and remove any rows older than 1970 - 5 = 1965

In [126]:
min_date = datetime.datetime(1965, 6, 30)

In [127]:
df[df['Agency Start Date'] < min_date].count()

Fiscal Year                   1711
Agency Name                   1711
Agency Start Date             1711
Work Location Borough         1711
Title Description             1711
Leave Status as of June 30    1711
Base Salary                   1711
Pay Basis                     1711
Regular Hours                 1711
Regular Gross Paid            1711
OT Hours                      1711
Total OT Paid                 1711
Total Other Pay               1711
dtype: int64

In [128]:
df[df['Agency Start Date'] < min_date]

         Fiscal Year  ... Total Other Pay
4806            2020  ...            0.00
94931           2020  ...         4219.81
95663           2020  ...         8570.99
96713           2020  ...         5445.70
96942           2020  ...        71334.60
...              ...  ...             ...
4484897         2021  ...            0.00
4485563         2021  ...            4.80
4488301         2021  ...            2.57
4488706         2021  ...            2.20
4489046         2021  ...            1.97

[1711 rows x 13 columns]

In [129]:
df['Agency Start Date'].count()

4338799

## Fix Title Descriptions

In [130]:
df = update(df, columns='Title Description', func=lambda title:title.strip("?*- ").upper())

In [131]:
df.shape

(4338799, 13)

In [132]:
titles = df['Title Description'].unique()
len(titles)

1769

In [133]:
def fixTitles(title):
  if title == 'SERGEANTD/A SPECIAL ASSIGNMENT' or title == 'SERGEANT-D/A SPECIAL ASSIGNMENT':
    return 'SERGEANT D/A SPECIAL ASSIGNMENT'
  elif title == 'ASSISTANT DEPUTY COMMISSIONER':
        return 'DEPUTY ASSISTANT COMMISSIONER'
  elif title == 'CASE - MANAGEMENT NURSE':
        return 'CASE MANAGEMENT NURSE'
  elif title == 'SERGEANTD/A SUPERVISOR DETECTIVE SQUAD':
        return 'SERGEANT-D/A SUPERVISOR DETECTIVE SQUAD'
  elif title == 'ELECTRICIANS HELPER':
        return 'ELECTRICIAN\'S HELPER'
  elif title == 'GENERAL INSPECTOR':
        return 'INSPECTOR GENERAL'
  else:
    return title

In [134]:
df = update(df, columns='Title Description', func=fixTitles)

In [135]:
df.shape

(4338799, 13)

In [136]:
titles = df['Title Description'].unique()
len(titles)

1762

## Save Final Output

In [137]:
# check final count

df.count

<bound method DataFrame.count of         Fiscal Year  ... Total Other Pay
0              2020  ...               0
1              2020  ...               0
2              2020  ...               0
3              2020  ...               0
4              2020  ...               0
...             ...  ...             ...
4493888        2021  ...               0
4493890        2021  ...               0
4493927        2021  ...               0
4493982        2021  ...               0
4493984        2021  ...               0

[4338799 rows x 13 columns]>

We have finally removed approx 157,000 rows which represents approx 3% of the original data.

In [138]:
df.to_csv('DataCleaningOutput.csv', index=False)